@import './base.css';

:root {
	--color-white: #fff;
	--color-black-1: #20282e;
	--color-black-2: #01181d;
	--color-gray-1: #6b79839a;
	--color-gray-2: #6a6f7411;
	--color-gray-3: rgb(230, 234, 245);
	--color-translucent-1: rgba(15, 13, 13, 0.7);
	--color-blue-1: rgb(0, 47, 108);
	--color-green-1: #008542;
	--color-yellow-1: #ffba15;

	--color-cazeus: #0f1525;
	--color-r2pbet: #163351;
	--color-basswin: #0e2c2e;
	--color-fatpirate: #5b3824;
	--color-memocasino: #161618;
	--color-kinghills: #163d8c;
	--color-amonbet: #000000;
	--color-gransino: #000000;
	--color-heyspin: #000000;
	--color-jokabet: #1e2132;
	--color-rolletto: #1e2132;
	--color-tikitaka: #000000;
	--color-velobet: #000000;
	--color-ninewin: #070e28;
	--color-f7casino: #000000;
	--color-loki: #213043;
	--color-tikitaka: #000000;
	--color-gransino: #000000;
	--color-cosmobet: #101113;
	--color-goldenmister: #001553;
	--color-boutyreels: #00013a;
	--color-luckymister: #000000;
	--color-verywell: #000031;

	--weight-regular: 400;
	--weight-medium: 500;
	--weight-semibold: 600;
	--weight-bold: 700;
	--weight-black: 900;

	--fontSize-12: 12px;
	--fontSize-14: 14px;
	--fontSize-16: 16px;
	--fontSize-20: 20px;
	--fontSize-24: 24px;
	--fontSize-32: 32px;
}

/* REUSED STYLES */
.bg-img {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	height: 100%;
	z-index: 1;
	overflow: hidden;
	background-color: var(--color-black-2);
	padding: 0 20px;
}
.bg-img__imgs {
	width: calc(100% + 300px);
	height: 100%;
	position: absolute;
}
.bg-img__item {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.bg-img__item-img {
	height: 400px;
	width: 400px;
	object-fit: contain;
}
.bg-fixed-img {
	width: 100%;
	background-image: url(../images/casino.jpg);
	padding: 80px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-attachment: fixed;
}
.copyright {
	text-wrap: nowrap;
	color: var(--color-white);
	font-size: var(--fontSize-16);
}
.policy {
	display: flex;
	gap: 10px;
}
.policy__link {
	color: var(--color-white);
}
.game-rating {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}
.game-rating__stars {
	display: flex;
	align-items: center;
	gap: 5px;
}
.game-rating__star {
	width: 24px;
	height: 24px;
}
.game-rating__votes {
	color: var(--color-blue-1);
}
.casino-link {
	background-color: var(--color-green-1);
	color: var(--color-white);
	padding: var(--color-white);
	text-transform: uppercase;
	font-weight: var(--weight-semibold);
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgb(0 47 108 / 50%);
	display: flex;
	justify-content: center;
	align-items: center;
	text-wrap: nowrap;
}

/* HEADER */
.header {
	width: 100%;
	padding: 30px 20px 0px 20px;
	background-color: var(--color-black-2);
	display: flex;
	justify-content: center;
	align-items: center;
}
.header__container {
	width: min(1200px, 100%);
	display: flex;
	justify-content: center;
	align-items: center;
}
.header__logo {
	width: 300px;
}
/* MAIN */
.main {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
}

/* MAIN -> GAMES-DESCRIPTION */
.games-description {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.games-description__title {
	color: var(--color-white);
	font-size: var(--fontSize-32);
	text-align: center;
}
.games-description__subtitle {
	width: 100%;
	color: var(--color-white);
	font-size: var(--fontSize-32);
}
.games-description__line {
	width: 50%;
	height: 1px;
	background-color: var(--color-white);
	align-self: center;
	margin: 20px 0;
}
.games-description__text {
	color: var(--color-white);
}
.games-description__disclaimer {
	background-color: red;
	width: max-content;
	max-width: 100%;
	color: var(--color-white);
}

/* MAIN -> BEST-GAMES */
.best-games {
	width: min(1200px, 100%);
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	z-index: 3;
}
.best-games__games {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	gap: 20px;
}
.best-games__game {
	width: calc((100% - 40px) / 3);
	background: var(--color-white);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	gap: 12px;
	position: relative;
}
.best-games__game-logo {
	width: 100%;
	height: 200px;
	border-radius: 5px;
	padding: 5px;
	object-fit: contain;
}
.best-games__game-name {
	color: var(--color-blue-1);
	font-size: var(--fontSize-24);
}
.best-games__game-text {
	width: 100%;
	color: var(--color-gray-1);
	font-weight: var(--weight-bold);
}
.best-games__game-bonus {
	width: 100%;
	text-align: center;
	font-size: var(--fontSize-20);
	color: var(--color-blue-1);
}
.best-games__game-advantages {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}
.best-games__game-advantage {
	display: flex;
	gap: 5px;
	align-items: center;
}
.best-games__game-advantage-icon {
	width: 12px;
	height: 12px;
}
.best-games__game-advantage-text {
	color: var(--color-blue-1);
}
/* НАДО МОДИФИКАТОР ДОБАВИТЬ, А НЕ ЭТО ПАРАША */
.best-games .casino-link {
	margin-top: auto;
}
.best-games__game:first-child {
	border: 5px solid var(--color-yellow-1);
}
.best-games__game:first-child .casino-link {
	background-color: var(--color-yellow-1);
}
.best-games__line {
	position: absolute;
	background-color: var(--color-yellow-1);
	font-size: var(--fontSize-14);
	font-weight: var(--weight-black);
	color: var(--color-blue-1);
	top: 10px;
	left: 0;
	padding: 5px 20px;
	clip-path: polygon(0 0, 100% 0, calc(100% - 10px) 50%, 100% 100%, 0 100%);
}

/* MAIN -> GAMES */
.games {
	width: min(1200px, 100%);
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 40px 0;
	z-index: 3;
}
.games__games {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.games__game {
	background-color: var(--color-white);
	border: 1px solid var(--color-gray-1);
	border-radius: 10px;
}
.games__game-top {
	width: 100%;
	display: flex;
	padding: 12px;
	gap: 20px;
}
.games__game-logo-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.games__game-logo {
	object-fit: contain;
	height: 80px;
	width: 200px;
	border-radius: 5px;
}
.games__game-info {
	flex-grow: 3;
}
.games__game-advantages {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.games__game-name {
	color: var(--color-blue-1);
	font-size: var(--fontSize-24);
	margin-bottom: 10px;
}
.games__game-advantage {
	display: flex;
	gap: 5px;
	align-items: center;
}
.games__game-advantage-icon {
	width: 12px;
	height: 12px;
}
.games__game-advantage-text {
	color: var(--color-blue-1);
	font-size: var(--fontSize-16);
	font-weight: var(--weight-bold);
}
.games__game-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 2;
	gap: 10px;
}
/* НАДО МОДИФИКАТОР ДОБАВИТЬ, А НЕ ЭТО ПАРАША */
.games__game .casino-link {
	width: 100%;
	padding: 20px 0;
}
.games__game-security {
	color: var(--color-green-1);
}
.games__game-payments {
	display: flex;
	gap: 5px;
}
.games__game-payment {
	width: 32px;
	height: 32px;
}
.games__game-bottom {
	padding: 6px;
	border-top: 1px solid var(--color-gray-3);
	color: var(--color-gray-1);
	background-color: var(--color-gray-2);
	font-size: var(--fontSize-12);
}
/* MAIN -> ABOUT-SITE */
.about-site {
	padding: 40px 20px 0 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.about-site__container {
	width: min(1200px, 100%);
	display: flex;
	align-items: center;
	gap: 60px;
}
.about-site__left {
}
.about-site__title {
	width: 100%;
	color: var(--color-blue-1);
	font-size: var(--fontSize-24);
	margin-bottom: 1rem;
}
.about-site__title--right {
	text-wrap: nowrap;
}
.about-site__subtitle {
	color: var(--color-blue-1);
	font-size: var(--fontSize-24);
	margin-bottom: 1rem;
}
.about-site__text {
	color: gray;
	line-height: 1.3;
	margin-bottom: 1rem;
}
.about-site__right {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.about-site__games {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}
.about-site__game {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-wrap: nowrap;
	color: var(--color-blue-1);
	text-decoration: underline solid var(--color-blue-1);
	gap: 5px;
}
.about-site__icon {
	width: 60px;
	height: 60px;
}

/* MAIN -> FAQ */
.faq {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 40px 20px;
}
.faq__container {
	width: min(1200px, 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
.faq__title {
	color: var(--color-blue-1);
	font-size: var(--fontSize-24);
}
.faq__questions {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
.faq__question {
	background-color: var(--color-black-1);
	padding: 20px;
	height: auto;
	border-radius: 10px;
	max-height: 64px;
	overflow: hidden;
	transition: max-height 200ms ease-in-out;
}
.faq__question-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	gap: 5px;
}
.faq__question-title {
	color: var(--color-white);
	font-size: var(--fontSize-24);
	font-weight: var(--weight-regular);
}
.faq__question-btn {
	color: var(--color-white);
	width: 32px;
	height: 32px;
	cursor: pointer;
	transition: all 200ms ease;
}
.faq__question-body {
	padding-left: 40px;
	padding-right: 20px;
}
.faq__question-text {
	color: var(--color-white);
}

/* MAIN -> ABOUT-US */
.about-us {
	width: min(1200px, 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
.about-us__logo {
	width: 400px;
	object-fit: contain;
}
.about-us__info {
	width: 100%;
}
.about-us__title {
	color: var(--color-white);
	font-size: var(--fontSize-32);
	margin-bottom: 1rem;
}
.about-us__subtitle {
	margin-bottom: 1rem;
	color: var(--color-white);
	font-size: var(--fontSize-24);
}
.about-us__text {
	color: var(--color-white);
	line-height: 1.3;
	margin-bottom: 1rem;
}

/* MAIN -> ABOUT-SECURE */
.about-secure {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 40px 20px 0 20px;
}
.about-secure__info-container {
	background-color: var(--color-translucent-1);
	width: 100%;
	height: max-content;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
}
.about-secure__title {
	color: goldenrod;
	font-size: var(--fontSize-32);
}
.about-secure__container {
	width: min(1200px, 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.about-secure__swiper {
	width: 100%;
	height: max-content;
	margin-bottom: 32px;
}
.about-secure__swiper .swiper-slide {
	padding: 20px 60px;
}
.about-secure__swiper-title-container {
	display: flex;
}
.about-secure__swiper-title {
	color: goldenrod;
	font-family: sans-serif;
	font-size: var(--fontSize-24);
	margin-bottom: 1rem;
}
.about-secure__swiper-text {
	color: var(--color-white);
	font-family: sans-serif;
	line-height: 1.3;
	margin-bottom: 1rem;
}
.about-secure__swiper-text:last-of-type {
	margin: 0;
}
.about-secure .swiper-button-next::after,
.about-secure .swiper-button-prev::after {
	font-size: 24px; /* Размер стрелок */
	font-weight: 900;
	color: var(--color-white); /* Цвет стрелок */
}
.about-secure .swiper-pagination-bullet {
	background: lightgray; /* Синий цвет всех точек */
	opacity: 1; /* Чтобы точки были полностью видны */
}
.about-secure .swiper-pagination-bullet-active {
	background: gray; /* Красный цвет активной точки */
}
.about-secure .swiper-button-next::after,
.about-secure .swiper-button-prev::after {
	font-size: 24px; /* Размер стрелок */
	font-weight: var(--weight-heavy);
	color: var(--color-white); /* Цвет стрелок */
}
.about-secure .swiper-pagination-bullet {
	background: lightgray; /* Синий цвет всех точек */
	opacity: 1; /* Чтобы точки были полностью видны */
}
.about-secure .swiper-pagination-bullet-active {
	background: gray; /* Красный цвет активной точки */
}

/* MAIN -> LAST-ABOUT */
.last-about {
	width: 100%;
	background-color: var(--color-black-2);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 20px;
}
.last-about__container {
	width: min(1200px, 100%);
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 20px;
}
.last-about__item {
}
.last-about__title {
	display: flex;
	width: 100%;
	align-items: center;
	gap: 5px;
	color: var(--color-white);
	font-size: var(--fontSize-20);
	margin-bottom: 0.5rem;
}
.last-about__img {
	height: 60px;
	width: 60px;
}
.last-about__text {
	color: var(--color-gray-1);
	line-height: 1.3;
}

/* FOOTER */
.footer {
	background-color: var(--color-black-1);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 20px;
}
.footer__container {
	width: min(1200px, 100%);
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.footer__text {
	font-size: var(--fontSize-12);
	color: var(--color-gray-1);
}
.footer__companies {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	width: 100%;
	height: 24px;
}
.footer__company {
	height: 100%;
}
.footer__line {
	height: 1px;
	width: 100%;
	background-color: var(--color-gray-1);
}
.footer__policy-container {
	display: flex;
	justify-content: space-between;
}

/* MEDIA */
@media (max-width: 1200px) {
	/* REUSED STYLES */
	/* .bg-img__imgs {
		width: calc(100% + 500px);
	} */
	/* HEADER */
	/* MAIN */
	/* MAIN -> GAMES-DESCRIPTION */
	/* MAIN -> BEST-GAMES */
	/* MAIN -> GAMES */
	/* MAIN -> ABOUT-SITE */
	/* MAIN -> FAQ */
	/* MAIN -> ABOUT-US */
	/* MAIN -> LAST-ABOUT */
}
@media (max-width: 960px) {
	/* REUSED STYLES */
	/* HEADER */
	/* MAIN */
	/* MAIN -> GAMES-DESCRIPTION */
	/* MAIN -> BEST-GAMES */
	.best-games__game {
		width: calc((100% - 20px) / 2);
	}
	/* MAIN -> GAMES */
	.games__game-top {
		display: grid;
		grid-template-areas:
			'logo logo'
			'info button';
	}
	.games__game-logo-container {
		flex-direction: row;
		justify-content: space-between;
		grid-area: logo;
	}
	.games__game-info {
		grid-area: info;
	}
	.games__game-button {
		grid-area: button;
	}
	/* MAIN -> ABOUT-SITE */
	/* MAIN -> FAQ */
	/* MAIN -> ABOUT-US */
	/* MAIN -> LAST-ABOUT */
}
@media (max-width: 720px) {
	/* REUSED STYLES */
	/* HEADER */
	/* MAIN */
	/* MAIN -> GAMES-DESCRIPTION */
	/* MAIN -> BEST-GAMES */
	.best-games__game-advantage:last-child {
		display: none;
	}
	.best-games__game:first-child {
		width: 80%;
	}
	/* MAIN -> GAMES */
	/* MAIN -> ABOUT-SITE */
	.about-site__container {
		flex-direction: column;
		gap: 0;
	}
	.about-site__games {
		gap: 10px;
	}
	/* MAIN -> FAQ */
	.faq__question {
		max-height: 56px;
	}
	.faq__question-title {
		font-size: var(--fontSize-16);
	}
	.faq__question-text {
		font-size: var(--fontSize-14);
	}
	/* MAIN -> ABOUT-US */
	/* MAIN -> LAST-ABOUT */
	.last-about {
		padding: 20px;
	}
	.last-about__container {
		gap: 15px;
	}
	.last-about__img {
		width: 40px;
		height: 40px;
	}
	/* FOOTER */
	.footer__policy-container {
		align-items: center;
		flex-direction: column;
		gap: 5px;
	}
}
@media (max-width: 540px) {
	/* REUSED STYLES */
	.bg-img__imgs {
		width: calc(100% + 600px);
	}
	.game-rating {
		gap: 0px;
	}
	.game-rating__star {
		width: 15px;
		height: 15px;
	}
	.game-rating__votes {
		font-size: var(--fontSize-14);
	}
	.casino-link {
		font-size: 14px;
		padding: 10px;
		/* font-weight: var(--weight-black); */
	}
	/* HEADER */
	/* MAIN */
	/* MAIN -> GAMES-DESCRIPTION */
	.games-description {
		gap: 5px;
	}
	.games-description__title {
		font-size: var(--fontSize-20);
	}
	.games-description__subtitle {
		font-size: var(--fontSize-20);
	}
	.games-description__line {
		margin: 5px 0;
	}
	.games-description__disclaimer {
		font-size: var(--fontSize-12);
	}
	.games-description__text {
		font-size: var(--fontSize-12);
	}
	/* MAIN -> BEST-GAMES */
	.best-games {
		padding-top: 10px;
		gap: 10px;
	}
	.best-games__games {
		gap: 10px;
	}
	.best-games__game:first-child {
		width: 100%;
	}
	.best-games__game {
		gap: 6px;
		padding: 5px;
	}
	.best-games__game-name {
		font-size: var(--fontSize-16);
	}
	.best-games__game-text {
		font-size: var(--fontSize-12);
	}
	.best-games__game-bonus {
		font-size: var(--fontSize-16);
	}
	.best-games__game-advantages {
		gap: 5px;
	}
	.best-games__game-advantage-text {
		font-size: var(--fontSize-12);
	}
	.best-games__game-logo {
		height: 100px;
	}
	/* MAIN -> GAMES */
	.games {
		padding-top: 20px;
		gap: 10px;
	}
	.games__game-top {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	.games__game .casino-link {
		padding: 15px;
	}
	.games__game-button {
		display: grid;
		grid-template-areas:
			'security payments'
			'link link';
		grid-template-columns: 1fr 1fr;
	}
	.games__game-security {
		font-size: var(--fontSize-14);
		grid-area: security;
	}
	.games__game-payments {
		grid-area: payments;
	}
	.games__game .casino-link {
		grid-area: link;
	}
	.games__game-advantage-text {
		font-size: var(--fontSize-14);
	}
	.games__game-name {
		font-size: var(--fontSize-16);
	}
	/* MAIN -> ABOUT-SITE */
	.about-site__title {
		font-size: var(--fontSize-20);
	}
	.about-site__text {
		font-size: var(--fontSize-14);
	}
	/* MAIN -> FAQ */
	.faq__question-body {
		padding: 0 10px 0 10px;
	}
	/* MAIN -> ABOUT-US */
	.bg-fixed-img {
		padding: 40px 20px;
	}
	.about-us__title {
		text-align: center;
		font-size: var(--fontSize-20);
	}
	.about-us__subtitle {
		text-align: center;
		font-size: var(--fontSize-16);
	}
	.about-us__text {
		text-align: center;
		font-size: var(--fontSize-14);
	}
	.about-us__logo {
		width: 300px;
	}
	/* MAIN -> ABOUT-SECURE */
	.about-secure__title {
		font-size: var(--fontSize-24);
	}
	.about-secure__swiper-title {
		font-size: var(--fontSize-20);
	}
	.about-secure__swiper-text {
		font-size: var(--fontSize-14);
	}
	.about-secure__info-container {
		padding: 10px;
	}
	.about-secure__swiper .swiper-slide {
		padding: 20px 40px;
	}
	/* MAIN -> LAST-ABOUT */
	.last-about__container {
		flex-direction: column;
	}
	.last-about__text {
		font-size: var(--fontSize-14);
	}
	/* FOOTER */
	.footer__companies {
		height: 18px;
		gap: 5px;
	}
	.copyright {
		font-size: var(--fontSize-14);
	}
	.policy__link {
		font-size: var(--fontSize-14);
	}
}
@media (max-width: 420px) {
	/* REUSED STYLES */
	/* HEADER */
	/* MAIN */
	/* MAIN -> GAMES-DESCRIPTION */
	/* MAIN -> BEST-GAMES */
	/* MAIN -> GAMES */
	/* MAIN -> ABOUT-SITE */
	/* MAIN -> FAQ */
	/* MAIN -> ABOUT-US */
	/* MAIN -> LAST-ABOUT */
	/* FOOTER */
	.footer__companies {
		height: 16px;
	}
}
